.call-to-action {
  display: flex;
  align-items: center;
  padding: 8% 15% 5% 15%;
  gap: 5rem;
}

.call-to-action .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.call-to-action .content .sign-up {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.call-to-action h2 {
  font-size: 2.80rem;
  line-height: 3.25rem;
  font-family: roboto-mono-bold;
  margin-bottom: 1.25rem;
}

.call-to-action p {
  font-size: 1.25rem;
  font-family: roboto-mono-light;
  text-transform: uppercase;
}

.call-to-action .bold {
  font-family: roboto-mono-medium;
}

.call-to-action .underline {
  text-decoration: underline 3px #f5c607;
  font-family: roboto-mono-light;
  color: #202020;
}

.call-to-action .underline:hover {
  font-family: roboto-mono-medium;
}

.call-to-action .buttons-sign-up {
  display: flex;
  gap: 1.5rem;
}

.call-to-action .warning-button {
  margin: 1.25rem 0;
  border: 1.5px solid #f5c607;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  color: #202020;
  font-family: roboto-mono-regular;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  transition: background 0.3s;
}

.call-to-action .warning-button:hover {
  background: #f5c607;
  cursor: pointer;
}
