/*------------------------------------- hero -------------------------------------*/

.hero {
  display: flex;
  align-items: center;
  padding: calc(5% + 5rem) 15% 10% 15%;
  gap: 5rem;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.arrow-icon {
  width: 2rem;
  margin-top: 5%;
  margin-left: 40%;
  height: auto;
  position: relative;
  animation: jumpInfinite 1.5s infinite;
  cursor: pointer;
}

@keyframes jumpInfinite {
  0% {
    top: 0;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0;
  }
}

/*------------------------------------- form -------------------------------------*/

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 10% 15% 10% 15%;
}

form {
  width: 800px;
}
