@font-face {
  font-family: roboto-regular;
  src: url('../fontes/Roboto-Regular.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../fontes/Roboto-Bold.ttf');
}

@font-face {
  font-family: roboto-medium;
  src: url('../fontes/Roboto-Medium.ttf');
}

@font-face {
  font-family: roboto-light;
  src: url('../fontes/Roboto-Light.ttf');
}

@font-face {
  font-family: roboto-mono-bold;
  src: url('../fontes/RobotoMono-Bold.ttf');
}

@font-face {
  font-family: roboto-mono-medium;
  src: url('../fontes/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: roboto-mono-regular;
  src: url('../fontes/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: roboto-mono-light;
  src: url('../fontes/RobotoMono-Light.ttf');
}

@font-face {
  font-family: roboto-mono-italic;
  src: url('../fontes/RobotoMono-Italic.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto-regular;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #202020;
  overflow-x: hidden;
}

.section-title {
  font-family: roboto-mono-bold;
  font-size: 3rem;
  line-height: 3.25rem;
}

.section-subtitle {
  font-family: roboto-mono-light;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.section-title.blue,
.section-subtitle.blue {
  color: #1e4798;
}

.section-title.orange,
.section-subtitle.orange {
  color: #e34511;
}

.section-title.pink,
.section-subtitle.pink {
  color: #e61854;
}

.bold{
  font-family: roboto-medium;
}