/*-------------------------------------navbar-------------------------------------*/

nav {
  padding: 1.25rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 4.375rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.625rem 1.25rem;
}

nav ul li a {
  color: #202020;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.1875rem;
  background: #e61854;
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #e61854;
}

nav ul li a:hover::after {
  width: 100%;
  color: #e61854;
  font-weight: bold;
}

/*-------------------------------------section1-------------------------------------*/

#index-section1 {
  display: flex;
  gap: 2rem;
  padding: 3% 10% 8% 10%;
  align-items: center;
  justify-content: space-between;
}

#index-section1 .header-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#index-section1 .header-text h1 {
  font-family: roboto-mono-bold;
  font-size: 60px;
  line-height: 66px;
  width: 80%;
}

#index-section1 .header-text h5 {
  font-family: roboto-mono-light;
  font-size: 20px;
  text-transform: uppercase;
}

#index-section1 .animation span::before {
  content: "INSPIRA";
  font-family: roboto-mono-bold;
  color: #f5c607;
  animation: words 6s infinite;
}

@keyframes words {

  0%,
  20% {
    content: "INSPIRED";
    font-family: roboto-mono-bold;
    color: #f5c607;
  }

  21%,
  40% {
    content: "MOTIVATED";
    font-family: roboto-mono-bold;
    color: #e61854;
  }

  41%,
  60% {
    content: "EMPOWERED";
    font-family: roboto-mono-bold;
    color: #1e4798;
  }

  61%,
  80% {
    content: "SUPPORTED";
    font-family: roboto-mono-bold;
    color: #e34511;
  }

  81%,
  100% {
    content: "ASSERTIVE";
    font-family: roboto-mono-bold;
    color: #e61854;
  }
}

/*-------------------------------------section 2-------------------------------------*/

#index-section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8% 10% 8% 10%;
  gap: 5rem;
}

#index-section2 .foto img {
  width: 100%;
  position: relative;
}

.foto::before {
  content: "";
  position: absolute;
  left: -10rem;
  top: 54rem;
  height: 90%;
  width: 50%;
  background-color: #1e4798;
  z-index: -1;
}

#index-section2 .text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 65%;
}

#index-section2 .text-container h1 {
  width: 70%;
  font-family: roboto-mono-bold;
  font-size: 46px;
  line-height: 51px;
}

#index-section2 .text-container span {
  font-family: roboto-mono-bold;
  font-size: 46px;
  color: #1E4798;
  text-transform: uppercase;
  line-height: 51px;
}

#index-section2 .text-container .paragraph {
  width: 85%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#index-section2 .text-container .calendar {
  display: flex;
  align-items: center;
  gap: 20px;
}

#index-section2 .text-container .calendar .sentence {
  color: #1E4798;
  font-size: 17px;
  width: 30%;
}

#index-section2 .button {
  display: block;
  font-family: roboto-mono-regular;
  text-transform: uppercase;
  width: fit-content;
  border: 1.5px solid #1e4798;
  padding: 7px 20px;
  border-radius: 17px;
  text-decoration: none;
  color: #1e4798;
  transition: background 0.3s;
}

#index-section2 .button:hover {
  color: #f2f2f2;
  background: #1e4798;
}

/*-------------------------------------section 3-------------------------------------*/

#index-section3 {
  display: flex;
  align-items: center;
  padding: 8% 15% 8% 15%;
  justify-content: space-between;
  gap: 11rem;
}

#index-section3 .leftside {
  width: 60%;
}

#index-section3 .leftside .quote {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: roboto-mono-regular;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
}

#index-section3 .leftside .bold {
  font-family: roboto-mono-bold;
}

#index-section3 .leftside .underline {
  text-decoration: underline 4px #e34511;
}

#index-section3 .leftside .sentences {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#index-section3 .leftside .sentences .sentence1,
.sentence2 {
  font-family: roboto-mono-regular;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  width: 60%;
}

#index-section3 .leftside .sentence2 {
  color: #e34511;
  width: 100%;
}

.leftside .aspas-top,
.leftside .aspas-bottom {
  width: 25%;
}

.leftside .aspas-bottom {
  float: right;
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.rightside h1 {
  font-family: roboto-mono-regular;
  color: #e34511;
  font-size: 35px;
  line-height: 40px;
  width: 80%;
}

.rightside .paragraph {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.rightside .paragraph span {
  color: #e34511;
  width: 85%;
}

/*-------------------------------------section 4-------------------------------------*/

#index-section4 {
  display: flex;
  color: #1e4798;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8% 0 8% 15%;
  gap: 7rem;
}

.title4 {
  font-size: 46px;
  font-family: roboto-mono-bold;
  line-height: 51px;
}

.direita4 .sec4-row {
  display: flex;
  align-items: center;
  background-color: rgba(30, 71, 152, 0.1);
  padding: 1rem 0 1rem 3rem;
  gap: 3rem;
}

.direita4 .sec4-row h1 {
  font-size: 70px;
  font-family: roboto-mono-regular;
}

.direita4 .sec4-row p {
  width: 50%;
  font-family: roboto-mono-regular;
  text-transform: uppercase;
}

.direita4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*-------------------------------------section 5-------------------------------------*/

#index-carousel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#index-carousel .carousel-container {
  display: flex;
  padding: 8% 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

#index-carousel .slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem
}

#index-carousel .slide img {
  width: 450px;

}

#index-carousel .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 420px;
}

#index-carousel .content .title {
  font-family: roboto-mono-bold;
  font-size: 46px;
  line-height: 51px;
  color: #202020;
}

#index-carousel .content .sentence {
  font-family: roboto-mono-light;
  font-size: 20px;
  text-transform: uppercase;
  color: #1E4798;
  width: 80%;
}

#index-carousel .content .text {
  font-size: 17px;
  line-height: 20px;
}

#index-carousel .content .text span {
  color: #1E4798;
}

#index-carousel .button {
  display: block;
  font-family: roboto-mono-regular;
  text-transform: uppercase;
  width: fit-content;
  border: 1.5px solid #1e4798;
  padding: 7px 20px;
  border-radius: 17px;
  text-decoration: none;
  color: #1e4798;
  transition: background 0.3s;
}

#index-carousel .button:hover {
  color: #f2f2f2;
  background: #1e4798;
}

#prevButton,
#nextButton {
  border: 2px solid #1e4798;
  padding: 0.5%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  /* Flexbox to center the image inside */
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  transition: top 0.5s;
}

#prevButton:hover,
#nextButton:hover {
  background: rgba(30, 71, 152, 0.1);
}

.carousel-dots {
  display: flex;
  /* Ensure it's a block-level element */
  width: 100%;
  /* Ensure it spans the entire width */
  padding: 0;
  /* Remove any padding */
  justify-content: center;
  /* Center its children horizontally */
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.2rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #1e4798;
  transition: background-color 0.2s ease;
}

.active,
.dot:hover {
  background-color: #1e4798;
}

/*-------------------------------------section 6-------------------------------------*/
#index-section6 {
  display: flex;
  align-items: center;
  padding: 10% 15% 5% 15%;
  gap: 5rem;
}

#index-section6 .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#index-section6 .content h2 {
  font-family: roboto-mono-bold;
  font-size: 46px;
  line-height: 51px;
  width: 50%;
}

#index-section6 .content .titles p {
  margin-top: 20px;
}

#index-section6 p {
  font-family: roboto-mono-light;
  font-size: 20px;
  text-transform: uppercase;
}

#index-section6 .content .sentences .underline {
  text-decoration: underline 3px #f5c607;
}

.index-buttons {
  display: flex;
  gap: 20px;
}

.index-buttons .button6 {
  display: block;
  margin: 1.25rem 0;
  width: fit-content;
  border: 1.5px solid #f5c607;
  padding: 7px 20px;
  border-radius: 17px;
  text-decoration: none;
  font-family: roboto-mono-regular;
  font-weight: bold;
  text-transform: uppercase;
  color: #202020;
  transition: background 0.3s;
}

.button6:hover {
  color: #202020;
  background: #f5c607;
}

/*-------------------------------------------footer------------------------------------------*/
#index-footer-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.index-footer {
  display: flex;
  align-items: flex-start;
  gap: 17.5rem;
  padding: 8% 15% 5% 15%;
}

.index-footer h2 {
  font-family: roboto-mono-regular;
  color: #1e4798;
  font-size: 46px;
  line-height: 51px;
  width: 30%;
}

.index-footer .links {
  display: flex;
  gap: 6rem;
}

.index-footer .links .pages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.index-footer .links .social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.index-footer .links .pages a,
.social-media a {
  text-decoration: none;
  font-family: roboto-mono-regular;
  font-variant: small-caps;
  color: #202020;
  font-size: 15px;
}

.index-footer .links .pages a:hover,
.social-media a:hover {
  font-family: roboto-mono-medium;
  color: #1e4798;
}

.social-media .button-footer {
  font-family: roboto-mono-regular;
  margin-top: 2.5rem;
  border: 0.09375rem solid #1e4798;
  padding: 0.3rem 1rem;
  border-radius: 0.625rem;
  text-decoration: none;
  color: #1e4798;
  transition: background 0.3s;
}

.index-footer .social-media .button-footer:hover {
  font-family: roboto-mono-regular;
  color: #f2f2f2;
  background: #1e4798;
}

#index-footer-container .blue-line {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  background-color: #1e4798;
}